@font-face {
    font-family: 'Nexa Demo';
    src: url('NexaDemo-Bold.woff2') format('woff2'),
        url('NexaDemo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

